

.background {
  background-image:url("images/stock-photo-speedometer-scoring-high-speed-in-a-fast-motion-blur-racetrack-background-speeding-car-background-1061506127.jpg");
  background-attachment: fixed;
  text-align:center;
  color: rgb(158, 255, 47); 
  font-size: 30px;
}

h2 {text-align:center;
}
div{ text-align:center;
  
} 
