
/* 


h2 {text-align:center;
    color: green;
}
 
body {text-align:center;
    background-image: url("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127");
  }
  body {text-align:center;
    background-image: url ("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127", url("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127");
    background-repeat: no-repeat, repeat;
    ;
  }

 h4 {text-align: center;
color: red;}

div {text-align: center;}


*/

h2 {text-align:center;
}
div{ text-align:center;
}
.body {  
        background-image: url ("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127", url("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127");
        background-repeat: no-repeat, repeat;
        text-align:center;
    
}
.start{
    background-image: url ("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127", url("https://www.shutterstock.com/image-photo/speedometer-scoring-high-speed-fast-motion-1061506127");
    background-repeat: no-repeat, repeat;
    text-align:center;
}